* {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  height: 100vh;
  background: #eee;
}

#root {
  margin: auto;
}

#AppContext {
  border: 1.5px solid black;
  border-radius: 5px;
  box-shadow: 1px 5px 10px gray;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 750px;
  padding: 15px;
}

/* #AppContext * {
  padding: 0 15px;
} */

#guestlist,
section {
  display: inherit;
  flex-direction: inherit;
}

#guestlist {
  flex: 1;
}

#headerlist {
  display: inherit;
  flex-direction: row;
  height: 25px;
}

#back {
  cursor: pointer;
  display: inline-block !important;
}

.details {
  font-size: xxx-large;
  line-height: 1.15;
  letter-spacing: -1px;
}

.guest {
  flex: 1 0 -webkit-fill-available;
  display: inherit;
  align-items: center;
  max-height: 30px;
  cursor: pointer;
}

.guest:hover {
  background: #feffab;
}

body {
  display: flex;
  height: inherit;
}

h1 {
  font-size: xx-large;
  background: #feffab;
  width: 100%;
  height: 45px;
}

:is(h1, h3) {
  text-align: center;
  align-self: center;
  align-content: center;
}

em {
  letter-spacing: -2px;
}

li div,
h3 {
  flex: 1;
  min-width: 200px;
}

li:nth-child(odd) {
  background: #eee;
}

li {
  padding: 0 10px;
}

p {
  font-style: oblique;
  letter-spacing: -0.25px;
  color: grey;
}

section {
  gap: 10px;
}
